<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>Mission to Mars</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <div class="scrape-container">
                        <h1>Mission to Mars</h1>
                        <a class="btn btn-primary" href="/scrape" role="button">Scrape New Data</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="mars-news">
                    <h3>Latest Mars News</h3>
                    <br>
                    <h6>{{ latest_news.news_title }}</h6>
                    <p>{{ latest_news.news_p }}</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-9">
                <div class="latest-image">
                    <h4>Featured Mars Image</h4>
                    <img src="{{ featured_img.featured_img_url }}" alt="Featured Image" width=100%>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-12">
                    <div class="current-weather">
                        <h6>Current Weather on Mars</h6>
                        <p>{{ mars_weather.weather }}</p>
                    </div>
                </div>
                <hr>
                <div class="col-lg-12">
                    <div class="mars-facts">
                        <h6>Mars Facts</h6>
                        <table class="table table-sm">
                            {{ mars_facts.html_code | safe }}
                        </table>                          
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
        <h1>Hemispheres of Mars</h1>
        <div class="row">
                    {% for hemisphere in hemispheres %}
                    <div class="col-lg-6">
                        <div class="hemisphere-img">
                        <img src="{{ hemisphere.img_url }}" alt="Mars Hemisphere" width=100%>
                        <hr>
                        <h6>{{ hemisphere.title }}</h6>
                        </div>
                    </div>
                    {% endfor %}
        </div>

    </div>
</body>